@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-orbitron: var(--font-orbitron);
  --font-mono: var(--font-geist-mono);
  --font-anton: var(--font-anton);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}



:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* Sliding animation for XP-style blocks */
@keyframes xpSlide {
  0% {
    transform: translateX(-30%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* Apply animation to the blocks container */
.xp-animate {
  animation: xpSlide 1.5s linear infinite;
}



body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;

  /* Combine vertical + horizontal scanlines */
  background-image:
    /* horizontal lines */
    repeating-linear-gradient(to bottom,
      rgba(0, 0, 0, 0.05) 0px,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 2px,
      transparent 3px),
    /* vertical lines */
    repeating-linear-gradient(to right,
      rgba(0, 0, 0, 0.05) 0px,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 2px,
      transparent 3px);
}



button#MW:focus #MWLabel {
  background-color: #0a60ff;
}

button#MW:focus #MWImage {
  opacity: .5;
}



button#p1:focus #p1label {
  color: rgb(255, 255, 255);
}



.custom-tooltip {
  position: absolute;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
  bottom: 210%;
  right: -60%;
  z-index: 999;
  isolation: isolate;
  transition: opacity 800ms ease, visibility 800ms linear;
  opacity: 0;
  visibility: hidden;
}

.custom-tooltip[data-open="true"] {
  opacity: 1;
  visibility: visible;

}



.custom-tooltip[data-open="false"] {
  opacity: 0;
  visibility: hidden;
}





.custom-tooltip::before {
  content: '';
  position: absolute;
  width: 38px;
  height: 20px;
  background: #000;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  bottom: -11px;
  right: 5px;
  transform: rotate(90deg);
  border-radius: 2px;
  z-index: -1;
}

.custom-tooltip::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 18px;
  background: #fff;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  bottom: -9px;
  right: 5px;
  transform: rotate(90deg);
  border-radius: 2px;
  z-index: -1;
}


/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}





.start-menu-button {

  box-shadow: inset -3px 0px 4px 0px #2a4e28,
    inset 4px 0px 4px 0px #234221,
    inset 0px 4px 6px 0px #B4DFB2,
    inset 0px 8px 7px 0px #247120,
    inset 0px 10px 10px 0px #247120;

}


.task-bar {
  box-shadow: inset 0px 4px 4px 0px #4E8CFF,
    inset 0px 8px 10px 0px #1e43bb,
    inset 0px 10px 10px 0px #1e43bb;
}

.window-app-bar {
  box-shadow: inset 0px 4px 4px 0px #70c6ff,
    inset 0px 8px 10px 0px #0B51E8,
    inset 0px 10px 10px 0px #0B51E8;
}

.windows-media-player-bar {
  box-shadow: inset 0px 4px 4px 0px #b2e0ff,
    inset 0px 8px 10px 0px #5662AF,
    inset 0px 10px 10px 0px #5662AF;
}

.windows-media-player-Button {
  box-shadow: inset 0px 4px 4px 0px #ffffff,
    inset 0px 8px 10px 0px #c6ccf3,
    inset 0px 10px 10px 0px #b1bbfc;
  border-top: 1px solid #323c7e;
  border-left: 1px solid #323c7e;
  border-right: 1px solid #323c7e;
  border-bottom: 2px solid #323c7e;
}

.windows-media-player-Button1 {
  box-shadow: 0px 3px 2px 0px #b1bbfc, 0px 3px 2px 0px #b1bbfc, 0px 3px 2px 0px #b1bbfc;
  border-top: 1px solid #323c7e;
  border-left: 1px solid #323c7e;
  border-right: 1px solid #323c7e;
  border-bottom: 2px solid #323c7e;
}

.sys-tray {
  box-shadow: inset 0px 4px 4px 0px #70c6ff,
    inset 0px 8px 10px 0px #0d81ce,
    inset 0px 10px 10px 0px #0a73b9;
}






input[type="range"] {
  -webkit-appearance: none;
}

/* Progress slider */
.progress-slider::-webkit-slider-runnable-track {
  height: 6px;

  border-radius: 3px;
  box-shadow:
    inset 2px 2px 5px #4f73c8,
    /* dark inset shadow */
    inset -2px -2px 5px rgb(255, 255, 255);
}


.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 17px;
  background: #45b12f;
  box-shadow: inset 0px 3px 0px #45b12f, inset 0px 13px 0px rgb(255, 255, 255);
  cursor: pointer;
  margin-top: -5px;
  /* align with track */
}




/* Volume slider */
.volume-slider::-webkit-slider-runnable-track {
  height: 4px;

  border-radius: 2px;
  box-shadow:
    inset 2px 2px 5px #4f73c8,
    /* dark inset shadow */
    inset -2px -2px 5px rgb(255, 255, 255);
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  height: 17px;
  background: #45b12f;
  box-shadow: inset 0px 3px 0px #45b12f, inset 0px 13px 0px rgb(255, 255, 255);
  cursor: pointer;
  margin-top: -6px;
}






input::placeholder {
  font-style: italic;
}

textarea::placeholder {
  font-style: italic;
}

.logo-shadow {
  filter: drop-shadow(0px 2px 4px black), blur(.1px);


}

.disabled-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.342);
  top: 0;
  right: 0;
}



/* Hide scrollbar everywhere (mobile default) */
/* Mobile-first: hide scrollbar */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE / old Edge */
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}



@media (hover: hover) and (pointer: fine) {

  * {
    scrollbar-width: auto;
    /* Firefox */
  }

  *::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  /* Track */
  *::-webkit-scrollbar-track {
    background: #edebd8;
    border: 1px solid #e8e6e6;
    box-shadow: inset 0 0 10px #c4c4c4;
  }

  /* Handle */
  *::-webkit-scrollbar-thumb {
    background: #b4ccde;
    border: 1.5px solid white;
    border-radius: 2px;
    box-shadow: 0 0 2px #000;
  }

  /* Hide ALL buttons */
  *::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  /* Up arrow */
  *::-webkit-scrollbar-button:vertical:single-button:decrement {
    width: 16px;
    height: 18px;
    background:
      #b4ccde url("data:image/svg+xml;utf8,\
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 5'>\
        <path d='M4 1 L7 5 H1 Z' fill='blue'/>\
      </svg>") center no-repeat;
    border: 1.5px solid white;
    box-shadow: 0 0 2px #000;
  }

  /* Down arrow */
  *::-webkit-scrollbar-button:vertical:single-button:increment {
    width: 16px;
    height: 18px;
    background:
      #b4ccde url("data:image/svg+xml;utf8,\
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 2 8 5'>\
        <path d='M1 3 L7 3 L4 7 Z' fill='blue'/>\
      </svg>") center no-repeat;
    border: 1.5px solid white;
    box-shadow: 0 0 2px #000;
  }
}











@keyframes fade {
  from {
    opacity: 0;
    ;
  }

  to {
    opacity: 1;
    ;
  }
}

.animate-fade {
  animation: fade 1000ms;
}